header, section, aside, footer{
    border: 1px solid red;
}


/*Encabezado */
#logo, #menu{
    border: 1px solid red;
    display: inline-block;
}

#logo{
    margin-top: 1em;
    margin-left: 2em;
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-bottom: 0em;
}

#menu ul li , #titulo{
    display: inline-block;

}
#menu{
    margin-left: 30em;
}

#menu ul li a{
    padding-right: 2em;
    padding-left: 2em;
    text-decoration: none;
    font-size:20px; 
}
/*Fin del encabezado*/

section{
    margin-top: 2em;
    margin-left: 10em;
    display: inline-block;
}
section nav{
    width: 55em;
    margin-left: 2em;
}


#img1, #img2, #img3, #img4{
    
    display: inline-block;
}

#img5, #img6 ,#img7, #img8{
    display: inline-block;
}

#img9, #img11, #img12, #img13{
    display: inline-block;
}

#img14, #img15{
    display: inline-block
}

.tamaño{
    width: 260px;
    height: 370px;
}

/*Descripcion*/
#des1 p, #des2 p, #des3 p, #des4 p{
    width: 30em;
    
}

#des5 p, #des6 p, #des7 p, #des8 p{
    width: 30em; 
}

#des9 p, #des11 p, #des12 p, #des13 p{
    width: 30em; 
}

#des14 p, #des15 p{
    width: 30em; 
}
/*Fin*/

/*Ubicacion*/
#des1, #des2, #des3, #des4{
    display: inline-block;
    margin-right: 3em;
    margin-left: 2em;
    width: 300px;
    height: 100px;
}

#des5, #des6, #des7 ,#des8{
    display: inline-block;
    margin-right: 3em;
    margin-left: 2em;
    width: 300px;
    height: 100px;
}

#des9, #des11, #des12, #des13{
    display: inline-block;
    margin-right: 3em;
    margin-left: 2em;
    width: 300px;
    height: 100px;  
}

#des14, #des15{
    display: inline-block;
    margin-right: 3em;
    margin-left: 2em;
    width: 300px;
    height: 100px;  
}