


/*Encabezado */
#logo, #menu{
    
    display: inline-block;
}

#logo{
    margin-top: 1em;
    margin-left: 2em;
}

#titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    margin-bottom: 0em;
}

#menu ul li , #titulo{
    display: inline-block;

}

#menu{
    margin-left: 30em;
}

#menu ul li a{
    padding-right: 2em;
    padding-left: 2em;
    text-decoration: none;
    font-size:20px; 
}
/*Fin del encabezado*/

section{
    margin-top: 2em;
    margin-left: 10em;
    display: inline-block;
    margin-bottom:2em; 
}

section nav{
    width: 55em;
    margin-left: 2em;
}


#img1{
    
    display: inline-block;
}

#menu ul li{
    color:white;
}

.tamaño{
    width: 260px;
    height: 370px;
}

#des1 p{
    font-family:'Lora', serif;
    width: 30em;
    
}

#des1{
    display: inline-block;
    margin-right: 3em;
    margin-left: 2em;
    width: 300px;
    height: 100px;
}

footer{
    height: 200px;
}
